@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--slate-900: #0f172a;
	--slate-800: #1e293b;
	--slate-700: #334155;
	--slate-600: #475569;
	--slate-400: #94a3b8;
	--slate-300: #cbd5e1;
	--sky-500: #0ea5e9;
	--sky-400: #38bdf8;
	--green-500: #22c55e;
	--amber-500: #f59e0b;
	--red-500: #ef4444;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--slate-900);
	color: var(--slate-300);
}
